RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.gordiichuk.com [NC]
RewriteRule ^(.*)$ http://gordiichuk.com/$1 [L,R=301,NC]
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{HTTP_HOST} (.*)
RewriteCond %{REQUEST_URI} /$ [NC]
RewriteRule ^(.*)(/)$ $1 [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9} /index.php HTTP/
RewriteRule ^index.php$ http://gordiichuk.com [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . / [L,R=301]